{% extends 'base.html' %}
{% block content %}  
		<div class = 'page_content'>
    		<p>Эта страница, как и другие из пакета, создана просто для демонстрации, что все элементы работают исправно и от вас требуется только перенаправить функции из views.py на ваши собственные html-файлы.</p>
    		<p> Как протестировать работу пакета уже сейчас:</p>
    		<li>Перейти в раздел "Каталог" и выбрать парочку продуктов</li>
    		<li>Перейти в раздел "Корзина" и убедиться, что она работает исправно, то есть показывается список товаров и высчитывается сумма заказа</li>
            <li>Нажать "Оформить заказ" на странице корзины или справа вверху.</li>
            <li>Заполнить форму.</li>
            <li>Зайти в панель администратора в раздел "Заказы" и убедиться, что внесенная заявка записана корректно</li>
		</div>
vv
{% for city in all_cities %}ff
    {{city.num_city}}
{% endfor %}
{% endblock %}